body {
}

.input-cell {
    width: 10em;
    height: 3em !important;
    padding: 0.5em;
    font-size: 1em;
    resize: none;
    border: 0 !important;
    background-color: rgba(0,0,0,0.0);
}

.input-cell:focus td {
    border: 2px solid green !important;
    outline: 0 !important;
}

.input-cell:focus{
    border: 0 !important;
    outline: 0 !important;
}
    
.main-content {
    padding: 0em !important;
}

.main-menu-block {
    /*border-bottom: 1px solid black;*/
    background-color: #a8c1fa;
    height: 6em;
    width: 100%;
}

td {
    border: 1px solid gray;
}

.selected {
    background-color: #97e997; /* Укажите нужный вам цвет */
    border: 2px solid green;
}
