@page "/"
@using ZipTabel.Components
<h1>HELLO</h1>
<PageTitle>Home</PageTitle>

<ZipTabel.Components.CellView Cell="@Sheet.GetCell("A1")"></ZipTabel.Components.CellView>
@* <ZipTabel.Components.CellView Cell="@Sheet.GetCell("A2")"></ZipTabel.Components.CellView> *@


@code {
    public Sheet Sheet = new Sheet();

    protected override async Task OnInitializedAsync()
    {
        await LoadSheetData();
    }

    private async Task LoadSheetData()
    {

        // Пример заполнения ячеек значениями
        Sheet.AddCell("A1", new Cell("A1"));
        // Sheet.AddCell("A2", new Cell("A2"));
    }

}

